<h1>Le jeu de la bande dessinée</h1>
<p>Nous allons vous donner des planches de bandes dessinées, dont les bulles sont vides, et vous allez devoir remplir les bulles.</p>

<h3>Comment jouer ?</h3>
<p>Voici la liste des images : <%= link_to("lien", "https://imgur.com/a/jkD84") %></p>
