<h1>Le jeu du dessin</h1>
<p>Vous allez devoir dessiner un concept pendant 2 minutes, puis voter pour le meilleur dessin</p>

<ul>
	<li>Une maison</li>
	<li>Le Seigneur des Anneaux</li>
	<li>Enterrer la hache de guerre</li>
</ul>