<h1>La chasse aux photos</h1>
<p>Vous avez 30 minutes pour partir en groupe, pour essayer de prendre des photos représentant les choses suivantes :</p>

<ul>
	<li>Quelque chose de gros et de couleur rose</li>
	<li>Prendre un selfie tous ensemble avec un inconnu</li>
	<li>Faites une pyramide humaine et faites vous prendre en photos</li>
	<li>Photographier la chose la plus drôle que vous trouvez</li>
	<li>Une photo d'une voiture jaune</li>
	<li>Photographiez la chose la plus moche que vous trouvez</li>
	<li>Photographiez quelque chose de bizarre à manger</li>
	<li>Photographiez quelque chose que vous n'aviez jamais vu avant</li>
	<li>Photographiez un lieu d'un endroit relaxant</li>
	<li> Une photo avec 5 choses qui commence avec la lettre P</li>
</ul>