<h1>2 vérités 1 mensonge</h1>
<p>Le jeu va prendre une personne au hasard du groupe, et lui demander de dire à propose d'elle 2 vérités et 1 mensonge. Puis les membres du groupe vont essayer de deviner quel est le mensonge parmi les pistes.</p>

<h3>Comment jouer ?</h3>
<p>Pour jouer, cliquer sur le bouton :</p>
<%= button_to "Joue par ici", new_random_truth_path, method: :get %>
